#subheading{
    color:grey;
    border:50px;
    text-align:center;
margin:0px;
background-color:blue;

}
.subtext{
    color:blue;
    background-color:aliceblue;
    margin:20px;
    padding:16px;
    text-align:center;
    height:8vh;

    
    
}

